.character-page {
  fieldset {
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .information {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
    }

    &--data {
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  .back {
    cursor: pointer;

    &:hover {
      color: darkgray;
    }
  }
}
